@import "../../resources/css/scss/_mbcVariables";
@import "../../resources/css/scss/_mbc";
.course-container {
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0;
}

.course-choice {
    background: #e75333;
    padding: .5rem;
    width: 25rem;
    margin: 1rem;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}
