@import "../../resources/css/scss/_mbcVariables";
@import "../../resources/css/scss/_mbc";
.holes-container {
  width: 100vw;
  flex-wrap: wrap;
}

.score-select {
    @include backgrounds($green, 18);
    display: flex;
    flex-direction: column;
    width: 75vw;
    background-color: #f7f7f9;
    padding: 3rem;
    text-align: center;
    height: 50vw;
    justify-content: center;
    font-size: 5rem;
    line-height: 2;
}

.description {
  font-size: 3rem;
  line-height: 3rem;
}
