@import '~font-awesome/css/font-awesome.css';
$blue: #3ea5ce;
$green: #99c712;
$yellow: lighten(#ffba00, 5%);
$red: #E53B3A;

$colors: $blue, $green, $yellow, $red;
$key: random( length($colors) );
$nth: nth( $colors, $key );

$main-color: $nth !default;
@mixin backgrounds($c, $y) {
  background: $c;
  @for $i from 1 through $y {
    $k: 3%;
    $j: $i - 1;

    @if $i == 1 {
      &:nth-child(#{$i}) { background: $c; }
    }
    @else {
      &:nth-child(#{$i}) { background: darken($c, ($k * $j)); }
    }
  }
}
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin: 1rem;
	line-height: 1;
	font-size: 1rem;
  background-color: #000537;
  color: white;
}

a {
  text-decoration: none;
  color: white;
  &:hover, &:active, &:focus {
    text-decoration: none;
    color: $cb-blue;
  }
}

pre {
  font-family: sans-serif;
  a {
    color: $cb-blue;
    &:hover, &:active, &:focus {
      color: $gray;
      text-decoration: none;
    }
  }
}

ul {
  list-style-type: none;
}

@mixin flex-column() {
  display: flex;
  flex-direction: column;
}

@mixin flex-row() {
  display: flex;
  flex-direction: row;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

.flex-column {
  @include flex-column();
}

.flex-row {
  @include flex-row();
}


@mixin link-menu() {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 1rem;
  align-items: flex-end;
}

@mixin link-menu-item() {
  & > a {
    color: $cb-blue;
    text-transform: uppercase;
    font-size: 1rem;
    &.dropdown-toggle-split {
      padding-right: 0rem;
    }
  }
  &:hover {
    //border: 1px solid $cb-blue;
  }

}

.footer-lockup {
  line-height: 2rem;
  @include link-menu();
  font-size: .5rem;
  align-items: flex-start;
}

.footer-link-item {
  vertical-align: middle;
  a {
    font-size: 1rem;
    color: $cb-blue;
  }
}

.toggleNav {
  display: none;
}

