.App {
  text-align: center;
}

.app-header {
  height: 3rem;
  color: #e75333;
}

.header-image {
  
}

.app-logo {
  max-height: 100%;
  max-width: 100%;
}

.header-title {
  font-size: 4rem;
  font-family: 'Signika Negative';
  font-weight: bold;
  margin: 1rem;
} 

.App-intro {
  font-size: large;
}

